main img{
    height: 40%;
    border-radius: 100%;
    margin-top: 2%;
    margin-left: 5%;
    display: inline;
    float: left;
}

main h1{
    margin: 0px;
    padding-left: 26%;
    padding-top: 4%;
    font-size: 70px;
}

main h2, main h3{
    margin: 0px;
    padding-left: 26%;
    font-size: 30px;
}


#editProfile, input{
	display: none;
}

textarea{
    margin-left: 26%;
    resize: none;
}

button{
    margin-left: 26%;
}