main form img{
    height: 40%;
    border-radius: 100%;
    margin-top: 2%;
    margin-left: 5%;
    display: inline;
    float: left;
}

main form h1{
    margin: 0px;
    padding-left: 26%;
    padding-top: 4%;
    font-size: 70px;
}

main form h2, main form h3{
    margin: 0px;
    padding-left: 26%;
    font-size: 30px;
}


#editProfile, input{
	display: none;
}

textarea{
    margin-left: 26%;
    resize: none;
}

button{
    margin-left: 26%;
}

form{
    height: 84%;
}

#chooseFile{
    position: absolute;
    margin-left: 6%;
    margin-top: -2%;
    display: none;
}

#cancelChanges{
    margin-left: 26%;
}